
<h1>Logout</h1>

<p>Are you sure you want to logout?</p>
<div class ="form-group mt-3">
<form asp-action="LogoutConfirmed" asp-controller="Account" method="post">

    <button type="submit" class="btn btn-danger">Logout</button>
   
    <p>
        <a asp-controller="Home" asp-action="Index">Back to home.</a>
    </p>
</form>
</div>