@model List<FunTickets.Models.Activite>

@{
    ViewData["Title"] = "Home Page";

}

<div class="banner d-flex align-items-center justify-content-center text-center">
    <!-- White translucent container in front -->
    <div class="banner-content bg-white bg-opacity-75 p-5 rounded shadow">
        <h1 class="display-4 fw-bold mb-4 text-dark">Welcome to Wonderlandx</h1>

        <!-- Flexbox button -->
        <div class="d-flex justify-content-center fw-bold">
            <a href="@Url.Action("Create", "Activites")" class="btn btn-primary px-5 py-2 rounded-3">
                Create
            </a>
        </div>
    </div>
</div>

